---
import Button from "./Button.astro";

interface Item {
  title: string;
  description: string;
  img: string;
  href: string;
}

export interface Props {
  title?: string;
  items: Array<Array<Item>>;
}

const { title = await Astro.slots.render("title"), items = [] } = Astro.props;
---

<section class="flex flex-col p-2">
  {
    title && (
      <h2>
        {title && (
          <h2 class="font-bold text-start text-2xl p-4" set:html={title} />
        )}
      </h2>
    )
  }
  {
    items.map((subitems) => (
      <div>
        {subitems.map(({ title, description, img, href }) => (
          <section class="flex flex-col break-all w-full whitespace-nowrap gap-y-4">
            <div class="w-fit gap-x-4 flex">
              <img class="h-32 w-32 rounded-lg" src={img} alt="" />
              <div class="break-all basis-1/2 max-h-24">
                <h3 class="font-semibold">{title}</h3>
                <p set:html={description} />
              </div>
            </div>
            <Button href={href}>View Proj</Button>
          </section>
        ))}
      </div>
    ))
  }
</section>
